.popup {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__btn-close {
    background-image: url(../../images/Close.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: absolute;
    border: none;
    padding: 0;
    top: -40px;
    right: -40px;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}

.popup__btn-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__btn-close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}

.popup__container {
    display: block;
    width: 358px;
    padding: 34px 36px 36px 36px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: 0;
    background-color: #fff;
    color: #162D77;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        max-width: 315px;
        padding: 29px;
    }
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        margin: 0 19px;
        padding: 25px 22px;
    }
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.popup__field {
    justify-content: center;
    padding: 0 0 12px;
    margin: 0 auto;
    width: 286px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
}

.popup__field_top {
    padding-top: 16px;
}

@media screen and (max-width: 1023px) {
    .popup__field_top {
        padding-top: 26px;
    }
}

@media screen and (max-width: 767px) {
    .popup__field_top {
        padding-top: 33px;
    }
}

.popup__input {
    font-size: 14px;
    line-height: 1.2;
    box-sizing: border-box;
    border: none;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    color: #1c1c1c;
    -webkit-text-fill-color: #1c1c1c;
}

.popup__input:focus {
    outline: 0;
    outline-offset: 0;
}

.popup__input-error {
    color: #ee3465;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
}

.popup__error-text {
    color: #ee3465;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    position: absolute;
    width: 100%;
    bottom: -30px;
    left: 0;
}

.popup__error-text_server {
    font-size: 14px;
    text-align: center;
    bottom: -40px;
    line-height: 18px;
}

.popup__success-text {
    color: #3ddc84;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 12px;
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    padding: 0 0 38px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .popup__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    .popup__title {
        font-size: 20px;
    }
}

.popup__btn-submit {
    width: 100%;
    height: 50px;
    margin: 18px auto 10px;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    background-color: #162D77;
    color: #ffffff;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.popup__btn-submit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__btn-submit {
        height: 46px;
        margin: 15px auto;
        font-size: 14px;
    }
}

.popup__btn-submit_disabled {
    background-color: rgb(146, 172, 224);
    cursor: default;
}

.popup__check {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background: #5D6AFB;
    border: 1px solid #5D6AFB;
    border-radius: 2px;
}

.popup__field_thin {
    font-size: 11px;
    line-height: 130%;
    padding-left: 7px;
    color: #414243;
    width: 100%;
    height: 14px;
    margin: 0;
    display: flex;
    align-items: center;
}

.popup__thin {
    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
    padding: 0;
    margin-left: 8px;
}

.popup__btn {
    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
    padding: 0;
    text-decoration: underline;
    border: none;
    background: inherit;
}